/* global css value for making the wanted theme */
* {
	background: linear-gradient(135deg, #001b15 0%, #004f3b 40%, #00b480 100%);
	background-attachment: fixed;
	font-family: "Segoe UI Semilight", "Bahnschrift SemiLight", "Arial",
		sans-serif;
	color: white;
}

/* solves the dropdown menu background color issue */
select {
	background-color: black;
}

.error {
	color: red;
}

.password-row {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

.eye-btn {
    width: 40px;
    height: 100%;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eye-btn:hover {
    background-color: #e2e2e2;
}

.logout-btn {
    padding: 6px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    background-color: #fff;
}
.logout-btn:hover {
    background-color: #e2e2e2;
}

#navFrame {
    width: 100%;
    height: 60px;   /* adjust to your navbar height */
    border: none;   /* removes the ugly border */
    overflow: hidden; /* hides any spacing issues */
}
